*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
.bodycontainer{
    overflow: hidden;
}
.collapsibleNavbar{
    transition: ease 0.8s;
}
#banner{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgba(41, 211, 98, 0.87);
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    z-index: 9998;
    align-items: center;
    margin:auto;
    top: 0;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2vh;
}
#navtext{
    font-family: 'Raleway';
    font-size: 3vw;
    color: white;
    transition: top .6s;
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    list-style: none;
    font-family: 'Krub';
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
#searchtoolspane{
    overflow-y: auto;
}
input[type='button']{
    border-radius: 50px;
    padding: 10px;
    width: max-content;
    font-size: 20px;
    transform: translate(0%, 0%);
    font-family:'Krub';
}

#ingrbtn{
    display: flex;
    margin-right: 10px;
}
input[type='text']{
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
    width: 400px;
    padding-left: 25px;
    border-width: 1px;
    font-family:'Krub';
    transform: translate(0%, 0%);
}
input[type='button']:hover,input[type='button']:focus,.navbar{
    background-color: rgb(0, 0, 0);
    color: white;
}
a.navlink{
    color: white;
}
.dpdown{
    border-color: black;
    border-radius: 100px;
    position: absolute;
    left: 5px;
    top:7px;
}
.dpdown:hover{
    background-color: black;
    color: white;
}
.select{
    position:relative;
    font-family:'Krub';
}
.dropdown-menu a{
    font-family:'Krub';
}
#searchquery{
    position: relative;
    height: 50px;
}
#srchbtn{
    position: absolute;

    height: 50px;
    width: 50px;
    left: 360px;
    background-image: url("search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transition: ease 0.5s;
}
#srchbtn:hover{
    background-color: white;
    border-radius: 50px;
    background-size: 80% 80%;
    transition: ease 0.5s;
    filter: invert(100%);
}
@media (max-width: 992px) {
    #srchbtn{
        left:350px;
    }
}
#srchbtn2{
    position: absolute;
    top:-8px;
    height: 50px;
    width: 50px;
    left: 370px;
    background-image: url("search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transition: ease 0.5s;
}
#srchbtn2:hover{
    background-color: white;
    border-radius: 50px;
    background-size: 80% 80%;
    transition: ease 0.5s;
    filter: invert(100%);
}
@media (max-width: 992px) {
    #srchbtn2{
        left:360px;
    }
}
div button.dpdown1 img{
    width: 35px;
}
.downarrow{
    transform:rotate(180deg);
    transition: ease-in-out 0.2s;
}
#searchtitle{
    font-family: 'Raleway';
    font-size: 100px;
    transition: ease 0.8s;
}
@media (max-width: 992px) {
    #searchtitle{
        text-align: center;
    }
}
#yrpantry{
    font-family: 'Raleway';
    font-size: 40px;
}
#pantryitems{

}
.pantryitems ul{
    list-style: none;
    margin-left: 50px;
}
.pantryitems li{
    font-family:'Krub';
    margin-bottom:10px;
}
#smartsugg{
    font-family: 'Raleway';

}
#smartsugg h2{
    font-size: 40px;
}
.delbtn{
    font-size: 15px;
    border: solid black;
    border-radius: 50px;
    margin-right: 20px;
}
#youcancook{
    font-family:'Raleway';
    font-size: 50px;
}
.card{
    align-items: center;
    border: solid black 2px;
    height: 480px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    overflow:hidden;
    border-radius: 30px;
    transition: 0.5s ease-out;
}
.imgcontainer{
    width: 250px;
    height:250px;
    overflow:hidden;
}
.imgcontainer img{
    max-height: 100%;
    max-height: 100%;
    transform: scale(1.75);
    transition: 0.5s ease-out;

}
.card:hover{
    background-color: rgb(0, 0, 0);
}
.card:hover .imgcontainer img{
    transform: scale(2);
}

.texts{
    font-family: 'Raleway';
}
.nores img{
    height: 50px;
    width:50px;
}
#response{
    margin-top: 10px;
    margin-left:5px;
    width: 325px;
    background-color: rgba(20, 190, 125, 0.288);
    border-radius: 20px;
    font-family: 'Krub';
    overflow: hidden;
}
#response .nores{
    text-align: center;
    margin-top:20px;
}
#response ul li{ /*DITO ung search results*/ 
    text-indent: 20px;
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#response ul li:hover{
    background-color: black;
    color:white;
}
#response div{
    text-align: center;
}
#response{
    margin-top: 10px;
    margin-left:5px;
    width: 325px;
    background-color: rgba(20, 190, 125, 0.288);
    border-radius: 20px;
    font-family: 'Krub';
    overflow: hidden;
}
#response1 .nores{
    text-align: center;
    margin-top:20px;
}
#response1 ul li{ /*DITO ung search results*/ 
    text-indent: 20px;
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#response1 ul li:hover{
    background-color: black;
    color:white;
}
#response1 div{
    text-align: center;
}
#response1{
    margin-top: 10px;
    margin-left:5px;
    width: 325px;
    background-color: rgba(20, 190, 125, 0.288);
    border-radius: 20px;
    font-family: 'Krub';
    overflow: hidden;
}
.card a:link,.card a:visited,.card a:active{
    text-decoration: none;
    color: black;
}
.card a:hover{
    color: white;
}

#startsplash{
    position: absolute;
    text-align: center;
    transform: translate(50%, 20%);
    font-family:'Krub';
}
#startsplash img{
    width: auto;
    height: 300px;
}