*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
/* navbar */
#banner{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(68, 99, 62);
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    z-index:9998;
    align-items: center;
    margin:auto;
    top: 0;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2vh;
}
#navtext{
    font-family: 'Raleway';
    font-size: 3vw;
    color: white;
    transition: top .6s;
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    list-style: none;
    font-family: 'Krub';
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}

/* body */
#buffer{
    position: relative;
    height: 110px;
    align-items: center;
}
.nav-tabs{
    margin-top:80px;
}
.nav-tabs > li > a{
    font-size:20px;
    color: black;
}
.nav-tabs > li > a.active {
    background-color: black !important;
    border-radius: 25px;
    transition: ease .8s;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
}


#sec2{
    height:70vh;
    transition: ease .8s;
}
#firstsec{
    height: max-content;
    text-align:center;
}
#thirdsec{
    height: max-content;
}
#mainsec{
    height: 81vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.profcard{
    align-items: center;
}
.prf{
    margin-top:20px;
    border-radius: 20px;
    background-color: rgba(66, 63, 63, 0.562);
    height: max-content;
    width:200px;
    box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
}
.prfimg{
    position: relative;
    width:100px;
    height: 100px;
    border: solid white;
    border-radius: 100px;
    overflow: hidden;
    top: 25px;
    left:25%;
    margin-bottom: 50px;
}
.prfimg img{
   width: 100%;
   height: 100%;
}
.prfname{
    font-family: 'Krub';
    color: white;;
}
.prfdata{
    margin-bottom: 20px;
}
.prfdata h5{
    font-family: 'Krub';
    color: white;
    font-size: 15px;
}
#profbtn{
    border: white;
    border-style: solid;
    border-radius: 100px;
    text-decoration: none;
    margin: 2vh;
    transition: ease .8s;
}
#profbtn:hover{
    background-color: white;;
}
#profbtn:hover #prftxt{
    color:black;
}
#prftxt{
    font-family: 'Raleway';
    font-size:20px;
    color:white;
    padding:15px;
    transition: ease .8s;
}
.card{
    border: solid black;
    height: max-content;
    width: auto;
    padding:20px;
    margin-bottom:20px;
    box-shadow: 5px 6px 5px -3px rgba(0,0,0,0.55);
-webkit-box-shadow: 5px 6px 5px -3px rgba(0,0,0,0.55);
-moz-box-shadow: 5px 6px 5px -3px rgba(0,0,0,0.55);
cursor: pointer;
}
.dp{
    position: relative;
    width:50px;
    height:50px;
    border: solid black;
    border-radius: 25px;
    overflow: hidden;
    top: 25px;
    margin-bottom: 50px;
}
.dp img{
    max-width:100%;
    max-height:100%;
}
.usrnm{
    position: relative;
    left: 65px;
    top:-60px;
}
.usrnm p{
    font-family: 'Krub';
    font-size: 15px;
}
.foodpic{
    margin-top:-50px;
    margin-bottom:20px;
    width:500px;
    height: auto;
    overflow: hidden;
}
.foodpic img{
    max-width:100%;
    max-height:100%;
}
.foodlabel{
    font-family: 'Raleway';
}
@media (max-width: 1295px) {
    .foodpic{
        width:40vw;
        height:auto;
    }
}
.community{
    padding: 20px;
}
.comcard{
    text-align: center;
    height:100%;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(66, 63, 63, 0.562);
    box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 23px -6px rgba(0,0,0,0.75);
}
.comcard h3{
    font-family: 'Krub';
    color: white;
    font-size: 2vw;
}
.personcard{
    margin-right:50px;
    width: 100%;
    height: max-content;
    border: solid white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp2{
    position: absolute;
    width:50px;
    height:50px;
    border: solid white;
    border-radius: 25px;
    overflow: hidden;
    left:53px
}
.dp2 img{
    max-width:100%;
    max-height:100%;
}
.usrnm2{
    padding-top: 15px;
    padding-right: 10px;;
    font-family: 'Krub';
    font-size: 1vw;
    color: white;
}
@media (max-width: 1295px) {
    .comcard{
        height:100%;
        max-width: 20vw;
    }
}

#formcol h1{
    font-family: "Raleway";
}
.formlabel{
    font-family: "Raleway";
    font-size: 20px;
}

#postbtn{
    border: Black;
    background-color: black;
    border-style: solid;
    border-radius: 100px;
    text-decoration: none;
    margin: 2vh;
    transition: ease .8s;
}
#postbtn:hover{
    background-color: white;
}
#postbtn:hover .posttxt{
    color:black;
    font-size: 25px;
}
.posttxt{
    font-family: 'Raleway';
    font-size:20px;
    color:white;
    padding:15px;
    transition: ease .8s;
}